@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
	url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "LeagueGothic";
	src: url("../fonts/LeagueGothic/LeagueGothic.eot");
	src: url("../fonts/LeagueGothic/LeagueGothic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/LeagueGothic/LeagueGothic.woff") format("woff"),
	url("../fonts/LeagueGothic/LeagueGothic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}